{% extends "base.html" %}
{% block content %}

    

<div class="container" style="margin-top: 80px;">

    <h1 class="display-8 text-center">Leather World | E-commerce Management</h1>

    <div class="row justify-content-center" style="margin-left: 50px; margin-top: 100px;">

        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Product Dashboard</h4>
                    <p class="card-text">View Order and Return reports</p>
                    <a href="/productdb">
                        <button type="button" class="btn btn-primary">Explore</button>
                    </a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-6 mb-5">

            <div class="card text-white bg-dark mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    <h4 class="card-title">Inventory Management</h4>
                    <p class="card-text">Manage inventory</p>
                    <a href="/inventory">
                        <button type="button" class="btn btn-primary">Explore</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>



   
    
{% endblock %}